{% extends "model-page.html" %}

{% block content %}

<h3 class="container text-muted text-center pt-2 pb-5">FORMULA 1 2020 - Regras bolão do Ego</h3>

<div class="container mx-auto row">
    <div class="col-3">
        <div id="list-example" class="list-group container" data-offset="0" data-spy="scroll" style="height: 520px; overflow-y: auto;" role="tablist">
            <a class="list-group-item list-group-item-action" href="#list-item-1">1</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">2</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">3</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">4</a>
            <a class="list-group-item list-group-item-action" href="#list-item-5">5</a>
            <a class="list-group-item list-group-item-action" href="#list-item-6">6</a>
            <a class="list-group-item list-group-item-action" href="#list-item-7">7</a>
            <a class="list-group-item list-group-item-action" href="#list-item-8">8</a>
            <a class="list-group-item list-group-item-action" href="#list-item-9">9</a>
            <a class="list-group-item list-group-item-action" href="#list-item-10">10</a>
            <a class="list-group-item list-group-item-action" href="#list-item-11">11</a>
            <a class="list-group-item list-group-item-action" href="#list-item-12">12</a>
            <a class="list-group-item list-group-item-action" href="#list-item-13">13</a>
            <a class="list-group-item list-group-item-action" href="#list-item-14">14</a>
            <a class="list-group-item list-group-item-action" href="#list-item-15">15</a>
            <a class="list-group-item list-group-item-action" href="#list-item-16">16</a>
            <a class="list-group-item list-group-item-action" href="#list-item-17">17</a>
            <a class="list-group-item list-group-item-action" href="#list-item-18">18</a>
            <a class="list-group-item list-group-item-action" href="#list-item-19">19</a>
            <a class="list-group-item list-group-item-action" href="#list-item-20">20</a>
            <a class="list-group-item list-group-item-action" href="#list-item-21">21</a>
            <a class="list-group-item list-group-item-action" href="#list-item-22">22</a>
            <a class="list-group-item list-group-item-action" href="#list-item-23">23</a>
            <a class="list-group-item list-group-item-action" href="#list-item-24">24</a>
            <a class="list-group-item list-group-item-action" href="#list-item-25">25</a>
            <a class="list-group-item list-group-item-action" href="#list-item-consideracoes">consideracoes</a>
        </div>
    </div>

    <div class="col-8 text-muted">
        <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example container text-muted rounded border" style="height: 520px; overflow-y: auto;" align="justify">
          <h4 id="list-item-1">1</h4>
          <p>1.	Cada participante concorre com 1 palpite por corrida indicando em ordem a chegada dos pilotos do primeiro ao décimo lugar, não podendo repetir os pilotos.</p>
          <h4 id="list-item-2" class="mt-2">2</h4>
          <p>2.	Se houver repetição de pilotos nas apostas e não puder ser corrigido até o horário limite das apostas, vale a ordem do 1º ao décimo, sendo que a repetição será excluída e aquela posição repetida ficará em branco, desde que as outras posições estejam indicadas as posições.</p>
            <p>.</p>
          <h4 id="list-item-3" class="mt-2">3</h4>
          <p>3.	Se houver erro e/ou vier em branco alguma das 10 posições da aposta, essa posição ficará em branco, desde que indicado a posição de cada um dos outros pilotos. Se não houver a indicação da posição de cada piloto será enumerada na ordem do 1º ao 10º conforme a ordem enviada e se faltar pilotos para completar o grid de aposta os últimos lugares ficarão em branco; e se vier pilotos a mais, vale a regra de enumeração do 1º ao 10º sendo o da sequência, 11º, 12º.... não registrado.</p>
            <p>.</p>
          <h4 id="list-item-4" class="mt-2">4</h4>
          <p>4.	Como as apostas podem ser enviadas até 1h antes da largada se não for possível verificar e fazer as mudanças necessárias não poderá ter reclamações pois cada um é responsável pelos seus palpites</p>
            <p>.</p>
          <h4 id="list-item-5" class="mt-2">5</h4>
          <p>5.	Na corrida que o apostador enviar a aposta como sendo o grid, valerá a formação conforme os treinos oficiais sem considerar as punições. Se o apostador não trocar de palpite para a próxima prova, valerá o palpite conforme a ordem dos pilotos daquele treino, e não o novo grid da próxima corrida.</p>
            <p>.</p>
          <h4 id="list-item-6" class="mt-2">6</h4>
          <p>6.	A pontuação do participante será a mesma pontuação da FIA, de cada um dos dez pilotos apostados, ou seja, se acertar o 1º colocado, receberá 25 pontos; se acertar o 1º e o 2º soma-se os pontos 25 + 20 e assim sucessivamente se acertar só o décimo colocado receberá só 1 um ponto e assim por diante valendo a pontuação conforme abaixo.</p>
            <p>.</p>
          <h4 id="list-item-7" class="mt-2">7</h4>
          <p>7.	Pontos:</p>
            <p>- O primeiro, 25</p>
            <p>- O segundo, 18</p>
            <p>- O terceiro, 15</p>
            <p>- O quarto, 12;</p>
            <p>- O quinto, 10</p>
            <p>- O sexto, 8</p>
            <p>- O sétimo, 6</p>
            <p>- O oitavo, 4</p>
            <p>- O nono, 2</p>
            <p>- O décimo, 1</p>
            <p>.</p>
          <h4 id="list-item-8" class="mt-2">8</h4>
          <p>8.	A pontuação oficial é a que valerá, ou seja, se um piloto for desclassificado após a corrida, a pontuação valerá conforme o resultado oficial divulgado posteriormente.</p>
            <p>.</p>
          <h4 id="list-item-9" class="mt-2">9</h4>
            <p>9.	Até o dia 10 de dezembro de 2021 serão pagos os prêmios aos vencedores se não houver nenhum recurso de corridas para julgamento e mudanças de pontuação, sendo o ato final deste bolão, independente de decisões posteriores. <u>Após pagamento dos prêmios do bolão não será mais possível retornar nenhuma demanda.</u> </p>
            <p>.</p>
          <h4 id="list-item-10" class="mt-2">10</h4>
          <p>10.	Até o dia da premiação tiver algum processo aberto pela FIA para verificar irregularidades em qualquer corrida do ano, o prêmio só será pago após a decisão final da FIA.</p>
            <p>.</p>
          <h4 id="list-item-11" class="mt-2">11</h4>
            <p>11.	Se até o dia 20 de dezembro 2021 não houver nenhuma decisão da FIA sobre as irregularidades, conforme a regra anterior, <u>serão pagos os prêmios conforme o resultado até aquele momento não havendo mais retrocesso nessa decisão que é soberana para esse bolão, mas se houver uma data marcada para a decisão, será aguardado o resultado final.</u></p>
            <p>.</p>
          <h4 id="list-item-12" class="mt-2">12</h4>
          <p>12.	Se tiver a data para a decisão de alguma irregularidade e nessa data não tiver nenhum resultado e marcada nova data, aguardaremos essa nova data, mas se não tiver data marcada será pago conforme regra anterior.</p>
            <p>.</p>
          <h4 id="list-item-13" class="mt-2">13</h4>
            <p>13.	<mark>Cada participante deverá apresentar sua aposta, por escrito, por WHATSAPP pelo telefone ou por e-mail, até 1h ANTES DO HORÁRIO OFICIAL DA LARGADA anterior a cada corrida, quem não fizer as apostas até este horário, ficará valendo a última aposta enviada da última corrida. As apostas ficarão arquivadas até a corrida posterior, para possíveis reclamações em caso de erro de registro do administrador.</mark></p>
            <p>.</p>
          <h4 id="list-item-14" class="mt-2">14</h4>
          <p>14.	O horário que vale para conferência é o horário do email, watts ou do facebook recebido no aparelho do administrador. Se aparecer que foi enviado faltando 59 minutos para a largada ou menos, não será registrada a aposta daquela corrida sendo adotadas as apostas da corrida anterior. </p>
            <p>.</p>
          <h4 id="list-item-15" class="mt-2">15</h4>
          <p>15.	Serão enviadas por e-mail as apostas e os resultados de todos os participantes para todos poderem acompanhar logo após a corrida. Até o horário limite das apostas, ou seja, 1h antes da largada, pode o apostador trocar as apostas sendo que a última aposta enviada é a que estará valendo, mesmo se veio com erros ou posições sem pilotos ou repetidos não valendo nada as apostas enviadas anteriormente, nem como complementação.</p>
            <p>.</p>
          <h4 id="list-item-16" class="mt-2">16</h4>
          <p>16.	Os participantes irão receber por e-mail tabela de pontuação de todos os participantes a cada corrida para acompanhamento, e todos tem o direito de reclamar de seus pontos e dos pontos de qualquer apostador.</p>
            <p>.</p>
          <h4 id="list-item-17" class="mt-2">17</h4>
            <p>17.	Cada apostador contribuirá com R$ 150,00 (cento e cinqüenta reais) por pessoa, que será pago da seguinte forma: R$ 50,00 impreterivelmente no primeiro mês do campeonato <mark>Março/ 2021</mark>, quem não pagar não participara das apostas; o total dos valores deverá ser pago até <mark>Agosto</mark>, quem não efetuar o total do pagamento até o referido mês não terá computado as apostas e estará fora do bolão, sem direito nenhum a reembolso.</p>
            <p>.</p>
          <h4 id="list-item-18" class="mt-2">18</h4>
            <p>18.	A qualquer momento o participante pode desistir, <mark>sem reembolso</mark> dos valores pagos, bem como qualquer pessoa pode entrar no grupo de apostadores a qualquer momento do bolão, devendo fazer o pagamento do valor de R$ 50,00 de inscrição, seguindo as regras acima.</p>
            <p>.</p>
          <h4 id="list-item-19" class="mt-2">19</h4>
          <p>19.	Cada apostador poderá optar por fazer mais de um palpite sendo essa pontuação somada em separado, como se fosse outro participante, desde que pague a quantia de R$150,00, conforme as regras descritas acima, podendo assim dessa forma fazer mais apostas sendo que deverá cumprir as regras descritas nesse regulamento.</p>
            <p>.</p>
          <h4 id="list-item-20" class="mt-2">20</h4>
            <p>20.	<strong>No final do campeonato, o apostador que somar o maior número de pontos será o vencedor, a premiação será assim distribuída: (dependendo do numero de participantes poderá ter alteração que será informado até a prova da Bélgica)</strong></p>
            <p><strong>1º - 60% do saldo.</strong></p>
            <p><strong>2º - 30% do saldo.</strong></p>
            <p><strong>3º - 10% do saldo.</strong></p>
            <p><strong>4º- 150 reais.</strong></p>
            <p><strong>150 reais.</strong></p>
            <p><strong>Dos valores arrecadados será retirado um valor para a compra de alimentos para a festa de encerramento. Bebidas são por conta de cada um o restante será dividido conforme regra acima.</strong></p>
            <p>.</p>
          <h4 id="list-item-21" class="mt-2">21</h4>
          <p>21.	No caso de empate de pontos na primeira posição o participante que acertou mais vezes o primeiro colocado será o vencedor e o outro o segundo colocado; se mesmo assim persistir o empate, o prêmio será daquele que acertou mais vezes o segundo colocado e assim sucessivamente até o décimo colocado para saber quem é o vencedor do bolão, caso o empate persista, a premiação será somada o valor do primeiro colocado com o valor do segundo colocado e dividido pelos participantes empatados.</p>
            <p>.</p>
          <h4 id="list-item-22" class="mt-2">22</h4>
          <p>22.	Se houver empate na segunda posição vale a mesma regra acima e no caso de empate será somado o valor do segundo colocado com o valor do terceiro colocado e dividido pelos participantes empatados. E assim sucessivamente.</p>
            <p>.</p>
          <h4 id="list-item-23" class="mt-2">23</h4>
          <p>23.	Se houver empate de mais de dois apostadores conforme esclarecido acima, será utilizado a mesma regra, ou seja, dividido o valor de cada posição para os apostadores que empataram.</p>
            <p>.</p>
          <h4 id="list-item-24" class="mt-2">24</h4>
          <p>24.	Se houver empate de mais de dois apostadores será assim dividido, se em 2º tiver 3 empatados será somado os valores do 2º, 3º e 4º e dividido entre os três sendo o próximo apostador o 5º, e assim similarmente para qualquer outra situação se aparecer.</p>
            <p>.</p>
          <h4 id="list-item-25" class="mt-2">25</h4>
          <p>25.	Do valor arrecadado será destinada uma quantia para compra de comida (carne, carvão, pães e salada) para a festa de encerramento que será no dia da última corrida do ano em local a ser confirmado, sendo que a bebida é por conta de cada um, o restante do saldo é que será dividido como prevê na regra nº 20.</p>
            <p>.</p>
          <h4 id="list-item-consideracoes" class="mt-2">Consideracoes Finais</h4>
          <p><strong>Como sou organizador e participante também, farei minhas apostas logo após o treino classificatório dos pilotos e enviarei as minhas apostas para outros participantes (preferencialmente os últimos classificados), que poderão conferir a minha aposta, isso para não dar margem de dúvidas quanto a questão de eu estar “olhando” as apostas dos outros membros e copiar. Após enviar as minhas apostas será liberado as apostas à todos.
            Se houver alguma punição pós treino poderei fazer alguma alteração nas apostas até 2h horas antes da largada para dar chances de todos enviarem novas apostas se assim preferirem.
            - Quaisquer dúvidas que aparecerem durante o bolão será decidido pelo administrador sempre em consulta com os apostadores.</strong>
          </p>
            <p>.</p>
          <blockquote class="blockquote text-right">
          <footer class="blockquote-footer">Egomar Prochnow</footer>
          </blockquote>
        </div>
    </div>
</div>


{% endblock %}