{% extends "model-page.html" %}



{% block content %}
  {% if validlink %}
<div class="container col-4" style="text-align: center;">
        <p>Por favor digite (e confirme) sua nova senha.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova Senha:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar senha:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Alterar senha" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h3>Falha ao alterar senha!</h3>
        <p>O link de alteracao de senha e invalido, possivelmente porque ja foi usado. Solicite uma nova redefinição de senha.</p>
    {% endif %}
</div>
{% endblock %}


