{% extends "model-page.html" %}

{% block content %}
<div class="container col-4" style="text-align: center;">
    <h3 class="text-center text-monospace mt-5 mb-5">Enviamos por e-mail instruções para redefinir sua senha.</h3>
    <h3 class="text-center text-monospace mt-5 mb-5">Se eles não chegarem em alguns minutos, verifique sua pasta de spam.</h3>

    <div align="center">
        <a href="/" class="btn btn-primary text-monospace my-2 m-2" >Pagina Inicial</a>
    </div>
</div>
{% endblock %}


